<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1 class="logo">Porsche Appreciation Predictor</h1>
    </nav>

    <!-- Start of main content -->
    <div class="container">
        <h1>Is your car worth keeping?</h1>
        <div class="upload-box">
            <a href="#"><button class="pri-btn">Upload image</button></a>
        </div>
    </div>
    <!-- End of main content -->
</body>
</html>